@use 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Lexend+Deca:wght@400;700&display=swap');

body {
    margin: auto;
    display: grid;
    place-items: center;
    flex-wrap: wrap;
    max-width: 1440px;
    width: auto;
    min-height: 100vh;
    background-color: variables.$Very-light-gray;
}

main {
    width: auto;
    height: auto;
}

section {
    padding: 48px;
   /* @media screen and (max-width: 920px) {
        height: auto;
    }*/
}