//Prymary colors variables
$Bright-orange: hsl(31, 77%, 52%);
$Dark-cyan: hsl(184, 100%, 22%);
$Very-dark-cyan: hsl(179, 100%, 13%);

//Neutral colors variables and paragraphs
    //--- For paragraphs
$Transparent-white: hsla(0, 0%, 100%, 0.75);
    //--- For Background, Headings, buttons/
$Very-light-gray: hsl(0, 0%, 95%);

//Font-size
$font-size: 15px;

//Font-weight
$weight-400: 400;
$weight-700: 700;